 <div class="postFieldWrapper">

     <div class="right selectPlace">

        <select 
            ng-if="filter.groups" 
            name="group"  
            dd-select="filter.groups" 
            icon="avatar_file_path" 
            acronym="acronym" 
            text="official_title" 
            value="id" 
            count="unansweredCount" 
            highlight="filter.selectedGroup" 
            click="filter.selectedGroup"
        ></select>
    </div>

    <div class="tabs left">
        <ul>
            <li class="active"><a ><i class="icon pencilIcon"></i> Most Recent</a></li>
            <li ><a ><i class="icon paperPenIcon"></i> Most Popular</a></li>
        </ul>
    </div>

    <div class="clearfix"></div>

 </div>

<div class="activities-list"  ng-if="activities">
    <div class="activity-margin activity-container" ng-repeat="activity in activities">
       <i-activity  activity="activity" bindonce></i-activity>
       <ng-include ng-show="activity.toggleShare" src="'templates/widget/share.html'"></ng-include>
       <div class="discussion-container"></div>
    </div>
</div>
<div ng-hide="activities" style="
    padding: 20px;
    background-color: #fff;
    color:#ccc;
">
  Nothing to display
</div>