<!--<section ng-show="showPostWindow" class="new-post-window" ng-click="$event.stopPropagation()">
    <a ng-click="newPost(2)"><i class="micropetition"></i>New Post</a>
    <a ng-click="newPost(1)"><i class="petition"></i>New Petition</a>
</section>

<section ng-include="'templates/notifications.html'"></section>

<section ng-hide="loading" class="groups-filter-panel">
    <div class="article-list-filter">
        <div ng-click="filter.selectedGroup = null" ng-class="{selected: !filter.selectedGroup}">
            <figure>
                <img src="images/v2/icons/all-group.png" />
                <span ng-show="filter.unansweredCount" ng-bind="filter.unansweredCount"></span>
            </figure>
            <span>All</span>
        </div>
        <div ng-repeat="group in filter.groups.slice(0, 3)" ng-click="filter.selectedGroup = group"
             ng-class="{selected: group == filter.selectedGroup, read: group.read}">
            <figure>
                <img ng-src="{{ group.getIcon() }}" />
                <span ng-show="group.unansweredCount" ng-bind="group.unansweredCount"></span>
            </figure>
            <span ng-bind="group.getTitle()"></span>
        </div>
        <div ng-click="filter.filter_full_view = !filter.filter_full_view" class="more"
             ng-class="{selected: filter.selectedGroup.group_type === 0, open: filter.filter_full_view}">
            <figure>
                <img src="images/v2/icons/more.png" />
            </figure>
            <span ng-hide="filter.selectedGroup.group_type === 0">More</span>
            <span ng-show="filter.selectedGroup.group_type === 0"
                  ng-bind="filter.selectedGroup.acronym ? filter.selectedGroup.acronym : filter.selectedGroup.official_title | limitTo: 6"></span>
        </div>
    </div>
    <div class="article-list-filter shadow"
         ng-show="filter.filter_full_view"
         ng-click="filter.filter_full_view = false; $event.stopPropagation()"
            ng-repeat="start in steps()">
        <div ng-repeat="group in filter.groups.slice(start, start + filterLineStep())" ng-click="filter.selectedGroup = group"
             ng-class="{selected: group == filter.selectedGroup, read: group.read}">
            <figure>
                <img ng-src="{{ group.getIcon() }}" />
                <span ng-show="group.unansweredCount" ng-bind="group.unansweredCount"></span>
            </figure>
            <span ng-bind="group.getTitle()"></span>
        </div>
        <div ng-click="path('/groups/search')" ng-if="$last">
            <figure style="margin-bottom: 2px;">
                <img src="images/v2/icons/add-dark.png" />
            </figure>
            <span>Add Group</span>
        </div>
    </div>
</section>
<div class="wrap-center" style="position: static;padding-top: 50px;" ng-show="loading"><spinner></spinner></div>
<p class="info-message" ng-show="!loading && !activities.length && !filter.selectedGroup">
  Hmm - Your newsfeed is empty! Looks like a great opportunity to take a stand, start a discussion,
  or improve your community by creating a post or petition. Use the button in the upper-right corner of the screen!
</p>
<section ng-show="!loading"
         ng-style="{'height': (minContentHeight - 134)}"
         class="activity-list-wrap" ng-include=" 'templates/home/activities.html' "></section>

<br>


<div class="banner">

    <img src="images/banner.png" alt="">

    <div class="followBtn"><a href="#">Follow <i class="fa fa-plus"></i></a></div>

</div>



<section class="container container-fluid mainContainer">

<div class="row">

    



        <div class="col-md-6">-->

            

             <div class="postFieldWrapper">

             <form name="petitionForm" novalidate ng-class="formClass" ng-submit="create();" autocomplete="off">

                <div class="right">

                    <select 
            ng-if="filter.groups" 
            name="group"  
            dd-select="filter.groups" 
            icon="avatar_file_path" 
            acronym="acronym" 
            text="official_title" 
            value="id" 
            highlight="filter.selectedGroup2" 
            click="filter.selectedGroup2"
        ></select>
                    

                </div>

                <div class="tabs">

                    <ul>

                        <li ng-class="{'active':data.type==petition_types[0]}" ><a href="javascript:;" ng-click="data.type=petition_types[0]"><i class="icon pencilIcon"></i> New Post</a></li>

                        <li ng-class="{'active':data.type==petition_types[2]}" ><a href="javascript:;" ng-click="data.type=petition_types[2]"><i class="icon paperPenIcon"></i> New Petition</a></li>

                    </ul>

                </div>

                <div class="tabContainer">

                

                    

                        
                        <div ng-show="data.type==petition_types[2]" class="title-field tabContainerField" ng-class="invalidClass(petitionForm.title.$invalid)">

                            <input type="text" ng-model="data.title" name="title" maxlength="255" ng-required='data.type==petition_types[2]' placeholder="Type title here" />

                        </div>

                        <div class="tabContainerField">

                            <textarea ng-model="data.petition_body" maxlength="300" name="petition_body"
                                  required placeholder="Type your message here"
                                  ng-init="data.chars_left = 300"
                                  ng-change="data.chars_left = 300 - data.petition_body.length"></textarea>

                            <span class="remainingWord" ng-bind="data.chars_left"></span>
                            
                        </div>
                        
                        

                        <div class="tabContainerField">

                            <div ng-show="filter.currGrp1.available" class="left remainingPetition">
                                {{ filter.currGrp1.available }} petitions left in this group
                            </div>

                            <section class="ng-hide">
                                <input type="hidden" ng-model="data.group" name="group">
                                <input type="hidden" ng-model="user_expire_interval" name="user_expire_interval">
                                <input type="hidden" ng-model="data.type" name="type">
                            </section>

                            <div class="right postSubmitBtn">
                                <input type="submit" value="Post">
                            </div>
                            <div class="clearfix"></div>

                        </div>

                    

                    

                </div>

                </form>

             </div>

             
             <div class="wrap-center" style="position: static;padding-top: 50px;" ng-show="loading"><spinner></spinner></div>
<p class="info-message" ng-show="!loading && !activities.length && !filter.selectedGroup">
  Hmm - Your newsfeed is empty! Looks like a great opportunity to take a stand, start a discussion,
  or improve your community by creating a post or petition. Use the button in the upper-right corner of the screen!
</p>
<section ng-show="!loading"
         ng-style="{'height': (minContentHeight - 134)}"
         class="activity-list-wrap" ng-include=" 'templates/home/activities.html' "></section>